* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(230, 230, 230);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page {
  background-color: white;
  width: min(80%, 800px);
  height: 520px;
  border-radius: 4px;
  position: relative;
}

#header {
  padding: 20px 18px;
  border-bottom: 1px solid rgb(230, 230, 230);
  margin: 0 20px;
}

button {
  background-color: transparent;
  padding: 12px;
  border: none;

}

button:hover{
  background-color: rgb(230, 230, 230);
  transition: .5s;
  border-radius: 2px;
}

#text-transform {
  position: absolute;
  border: none;
  width: min(100%, 800px);
  height: 87%;
  resize: none;
  padding: 24px;
  font-family: "Roboto", serif;
  font-size: 1rem;
  overflow: hidden
 
}
#text-transform:focus {
  outline: none;
}

.h2{
  font-size: 24pt;
}

.bold{
  font-weight: bold;
}

.italic{
font-style: italic;
}

.enfase{
  margin-left: 16;
  border-left: 4px solid rgba(231, 6, 231, 0.795);
  padding: 18px 24px;
  background-color: rgba(230, 230, 230, 0.466);
  display: flex;
}

a{
  cursor: pointer;
}
